.post-1 {
  background: #9d27b0;
}

.post-2 {
  background: #9bb800;
}

.post-3 {
  background: #ed5120;
}

.post-4 {
  background: #9d27b0;
}

.post-5 {
  background: #2d95bb;
}

body {
  background: #0b192f;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body,
form,
div,
p,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
table,
table tr,
table td {
  border: none;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  font-family: Arial;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
}

.mainer {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #0b192f;
}

.header {
  background-color: #024161;
  margin: 0 0 20px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__item {
  align-self: center;
}

.header__logo {
  text-decoration: none;
  margin: 0 0 0 20px;
  color: #fff;
  font-size: 26px;
  font-weight: 200;
}

.header__logo span {
  color: #9d27b0;
}

.header__menu-tablet {
  display: none;
  margin: 0 auto 20px auto;
  width: 15px;
  border: none;
  border-top: 1px solid #ffffff;
  position: relative;
}

.header__menu-tablet:before,
.header__menu-tablet:after {
  content: '';
  width: 15px;
  box-sizing: border-box;
  position: absolute;
  border-top: 1px solid #ffffff;
  left: 0;
}

.header__menu-tablet:before {
  top: -5px;
}

.header__menu-tablet:after {
  top: 3px;
}

.header__menu {
  display: flex;
  list-style-type: none;
}

.header__menu-item {
  padding: 10px 0;
}

.header__link {
  text-decoration: none;
  color: #fff;
  padding: 22px;
}

.header__link:hover {
  background-color: #1f52a4;
}

.main {
  background-image: url("../img/post0.jpg");
  background-size: cover;
  background-position: center;
  padding: 250px 20px 70px 30px;
  margin: 0 0 20px 0;
}

.main__title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 200;
  margin: 0 0 20px 0;
}

.main__dec {
  color: #ffffff;
  max-width: 900px;
  line-height: 30px;
}

.content {
  margin: 0 0 20px 0;
}

.content__wrapper {
  display: flex;
}

.content__block--blog {
  width: 80%;
}

.content__block--news {
  width: 20%;
}

.blog {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.blog:nth-child(2n) {
  flex-direction: row-reverse;
}

.blog:nth-child(2n) .blog__item {
  flex-direction: row-reverse;
}

.blog:nth-child(2n) .blog__preview {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 30px 30px 30px 0;
}

.blog:hover .blog__title,
.blog:hover .blog__photo {
  opacity: 0.6;
}

.blog__item {
  display: flex;
  width: 49.8%;
}

.blog__item:nth-child(2n) {
  width: 50.2%;
}

.blog__item--full {
  width: 100%;
}

.blog__photo {
  width: 100%;
  height: 100%;
}

.blog__preview {
  padding: 30px 0 30px 30px;
}

.blog__title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 200;
}

.blog__dec {
  color: #ffffff;
  line-height: 30px;
  font-size: 14px;
}

.blog__date {
  font-size: 40px;
  color: #ffffff6c;
  font-weight: 200;
  margin: 20px 10px;
}

.blog__date span {
  display: block;
  font-size: 24px;
}

.news {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 20px;
}

.news__item {
  background-color: #ffffff;
}

.news__photo {
  width: 100%;
  height: 100%;
}

.news__text {
  padding: 20px;
}

.news__title {
  color: #000000;
  font-weight: 300;
}

.news__dec {
  line-height: 22px;
  font-weight: 300;
}

.footer {
  background-color: #024161;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  padding: 20px;
}

.footer__policy {
  color: #63768D;
}

.footer__dec {
  color: #63768D;
}

.footer__author {
  color: #63768D;
}

@media screen and (max-width: 768px) {
  .mainer {
    padding: 0 10px;
  }

  .header {
    padding: 20px 0 20px 0;
  }

  .header__wrapper {
    flex-direction: column-reverse;
  }

  .header__menu {
    display: none;
  }

  .header__menu-tablet {
    display: block;
  }

  .header__logo span {
    color: red;
  }

  .content__block--blog {
    width: 65%;
  }

  .content__block--news {
    width: 35%;
  }

  .blog {
    flex-direction: column;
  }

  .blog:hover {
    opacity: 1;
  }

  .blog:nth-child(2n) {
    flex-direction: column;
  }

  .blog:nth-child(2n) .blog__item {
    flex-direction: row;
  }

  .blog:nth-child(2n) .blog__preview {
    text-align: left;
    padding: 30px 0 30px 30px;
  }

  .blog__item:nth-child(1n) {
    width: 100%;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 5px;
  }

  .footer__wrapper div {
    text-align: center;
  }

  .footer__item {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .content__wrapper {
    flex-direction: column;
  }

  .content__block {
    width: 100%;
  }

  .news {
    margin: 0 0 20px 0;
  }
}

/*# sourceMappingURL=styles.css.map */
