$headerBg: url('../img/m-h-day.jpg');
$fontColorBase: #2C2F3C;
$colorLink: #ffffff;
$btnTextColor: #ffffff;
$btnBackgroundColor: #699900;
$fontBase: 'Source Sans Pro', sans-serif;
$fontSizeBase: 14px;
$fontLogo: 'Hind', sans-serif;
$bgCardColor: #21232E;
$bgColorMain: #ffffff;
$baseRadius: 4px;
$colorNews: #C0C3CE;
$darkFooter: true;
$hightLight: #14A0C7;
$hightLightSize: 40px;
$bgColorBanner: linear-gradient(90deg, rgba(100,148,19,1) 0%, rgba(47,93,209,1) 100%);