$headerBg: url('../img/m-h-night.jpg');
$fontColorBase: #ffffff;
$colorLink: #ffffff;
$btnTextColor: #ffffff;
$btnBackgroundColor: #E3AC00;
$bgColorBanner: linear-gradient(90deg, rgba(219,159,8,1) 0%, rgba(147,44,83,1) 100%);
$fontBase: 'Source Sans Pro', sans-serif;
$fontSizeBase: 14px;
$fontLogo: 'Fresca', sans-serif;
$bgColorMain: #21232E;
$bgCardColor: #3B3F50;
$baseRadius: 4px;
$colorNews: #C0C3CE;
$darkFooter: true;
$hightLight: #FF4E33;
$hightLightSize: 40px;